@page "/cities/add"
@inject HttpClient HttpClient
@using System.Net.Http.Json;
@using Blazor.Data;
@inject NavigationManager Navigation

<PageTitle>Create City</PageTitle>

<h1>Create City</h1>

<a class="btn btn-primary" href="/cities" role="button">Return</a>

<form method="post" onsubmit="@OnSubmit">
    <fieldset>
        <legend>Add City</legend>
        <div class="form-group">
            <label for="InputName">City Name:</label>
            <input class="form-control" type="text" @bind="InputName" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" disabled="@(!CanCreateCity)">Submit</button>
        </div>
    </fieldset>
</form>

<p role="status">Status: @createCityStatus</p>

@code {
    private bool CanCreateCity => !string.IsNullOrWhiteSpace(InputName);

    private City[] cities = new City[0];
    private City newCity = new City();
    private string createCityStatus = "";

    private string? InputName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        cities = await HttpClient.GetFromJsonAsync<City[]>("http://api:8082/City");
    }

    private async Task OnSubmit()
    {
        if (CanCreateCity)
        {
            await LoadData();

            int maxId = cities.Length > 0 ? cities.Max(city => city.city_id) : 101;

            newCity.city_id = maxId > 100 ? maxId + 1 : 102;
            newCity.city_name = InputName;

            var response = await HttpClient.PostAsJsonAsync("http://api:8082/City", newCity);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/cities");
            }
            else
            {
                createCityStatus = "Failed to create city. Please try again.";
            }
        }
        else
        {
            createCityStatus = "Please write the city name!";
        }
    }
}
