@page "/cities/{id}"
@inject HttpClient HttpClient
@using System.Net.Http.Json
@using Blazor.Data
@inject NavigationManager Navigation

<PageTitle>Update City</PageTitle>

@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <a class="btn btn-primary" href="/cities" role="button">Return</a>

    <h1>@city.city_name</h1>
    <br/>

    @if (!string.IsNullOrEmpty(city.guide_en))
    {
        <h2>English Guide</h2>
        <p>@city.guide_en</p>
        <button class="btn btn-secondary" @onclick="() => DownloadAudioGuide(city.city_id, 'en-US')">Download English Audio Guide</button>
    }

    @if (city.availableRoutes.Count > 0)
    {
        <h2>Available routes:</h2>
        @foreach (var end in city.availableRoutes)
        {
            <p>Route Id: @end.lineId &emsp; End city name: @end.endCityName</p>
        }
    }
    else
    {
        <p>No available routes!</p>
    }
}

@code {
    [Parameter]
    public string id { get; set; }
    private GetCity city = new GetCity();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        city = await HttpClient.GetFromJsonAsync<GetCity?>($"http://api:8082/City/{id}");
        isLoading = false;
    }

    private async Task DownloadAudioGuide(int cityId, string langCode)
    {
        var fileName = $"{cityId}-{langCode}.mp3";
        var response = await HttpClient.GetAsync($"http://api:8082/api/audioguide/{fileName}");

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsByteArrayAsync();
            var base64Content = Convert.ToBase64String(content);
        }
    }
}
