@page "/lines/update/{id}"
@inject Id IdGenerator
@inject HttpClient HttpClient
@using System.Net.Http.Json;
@using System.Net.Http.Headers;
@using Blazor.Data;
@inject NavigationManager Navigation

<PageTitle>Lines</PageTitle>

<h1>Lines</h1>

<a class="btn btn-primary" href="/lines" role="button">Return</a>

<form method="post" onsubmit="@OnSubmit">
    <fieldset>
        <legend>Lines Details</legend>
        <div>
            <label for="CityIds">City line_name</label>
            <input type="text" @bind="line.line_name" />
        </div>
        <div>
            <label for="Mileage">Mileage</label>
            <input type="text" @bind="line.mileage" />
        </div>
                <div>
            <label for="Start">start_city_id</label>
            <input type="text" @bind="line.start_city_id" />
        </div>
                <div>
            <label for="End">end_city_id</label>
            <input type="text" @bind="line.end_city_id" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" />
        </div>
    </fieldset>
</form>

<p>@createLineStatus</p>

@code {
    [Parameter]
    public string id { get; set; }

    private Line line = new Line();

    private string createLineStatus = "";

    protected override async Task OnInitializedAsync()
    {
        var lines = await HttpClient.GetFromJsonAsync<Line>($"https://dolphin-app-df2gw.ondigitalocean.app/api/Line/{id}");
        line.line_name = lines.line_name;
        line.start_city_id = lines.start_city_id;
        line.end_city_id = lines.end_city_id;
        line.mileage = lines.mileage;
    }

    private async Task OnSubmit()
    {
        try
        {
            var response = await HttpClient.PostAsJsonAsync("https://dolphin-app-df2gw.ondigitalocean.app/api/Line", line);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/lines");
            }
            else
            {
                // Read and display the error message from the response
                var errorMessage = await response.Content.ReadAsStringAsync();
                createLineStatus = $"Error: {errorMessage}";
            }
        }
        catch (Exception ex)
        {
            createLineStatus = $"Error: {ex.Message}";
        }
    }
}
