@page "/train-routes/add"
@inject HttpClient HttpClient
@using System.Net.Http.Json;
@using System.Net.Http.Headers;
@using Blazor.Data;
@inject NavigationManager Navigation

<PageTitle>Create Train Route</PageTitle>

<h1>Create Train Route</h1>

<a class="btn btn-primary" href="/train-routes" role="button">Return</a>

<form method="post" onsubmit="@OnSubmit">
    <fieldset>
        <legend>Train Route Details</legend>
        <div>
            <label for="LineId">Select Line:</label>
            <select @bind="selectedLineId">
                @foreach (var line in lines)
                {
                    <option value="@line.id">@line.name</option>
                }
            </select>
        </div>
        <div>
            <label for="CityIds">City IDs (comma-separated):</label>
            <input type="text" @bind="cityIds" />
        </div>
        <div>
            <label for="Mileage">Mileage (comma-separated):</label>
            <input type="text" @bind="mileage" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" />
        </div>
    </fieldset>
</form>

<p role="status">Status: @createRouteStatus</p>

@code {
    private TrainRoute trainRoute = new TrainRoute();
    private string cityIds = "";
    private string mileage = "";
    private string createRouteStatus = "";
    private List<Line> lines = new List<Line>();
    private int selectedLineId;

    protected override async Task OnInitializedAsync()
    {
        lines = await HttpClient.GetFromJsonAsync<List<Line>>("http://api:8082/Line");
    }

    private async Task OnSubmit()
    {
        try
        {
            trainRoute.lineId = selectedLineId; 
            trainRoute.citiesIds = cityIds;
            trainRoute.mileage = mileage;

            var response = await HttpClient.PostAsJsonAsync("http://api:8082/TrainRoute", trainRoute);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/train-routes");
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                createRouteStatus = $"Error: {errorMessage}";
            }
        }
        catch (Exception ex)
        {
            createRouteStatus = $"Error: {ex.Message}";
        }
    }
}
