@page "/lines/update/{id}"
@inject HttpClient HttpClient
@using System.Net.Http.Json;
@using System.Net.Http.Headers;
@using Blazor.Data;
@inject NavigationManager Navigation

<PageTitle>Lines</PageTitle>

<h1>Lines</h1>

<a class="btn btn-primary" href="/lines" role="button">Return</a>

<form method="post" onsubmit="@OnSubmit">
    <fieldset>
        <legend>Lines Details</legend>
        <div>
            <label for="CityIds">City line_name</label>
            <input type="text" @bind="line.name" />
        </div>
        <div>
            <label for="Start">start_city_id</label>
            <input type="text" @bind="line.startCityId" />
        </div>
                <div>
            <label for="End">end_city_id</label>
            <input type="text" @bind="line.endCityId" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" />
        </div>
    </fieldset>
</form>

<p>@createLineStatus</p>

@code {
    [Parameter]
    public string id { get; set; }

    private Line line = new Line();

    private string createLineStatus = "";

    protected override async Task OnInitializedAsync()
    {
        var lines = await HttpClient.GetFromJsonAsync<Line>($"http://api:8082/Line/{id}");
        line.name = lines.name;
        line.startCityId = lines.startCityId;
        line.endCityId = lines.endCityId;
    }

    private async Task OnSubmit()
    {
        try
        {
            var response = await HttpClient.PostAsJsonAsync("http://api:8082/Line", line);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/lines");
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                createLineStatus = $"Error: {errorMessage}";
            }
        }
        catch (Exception ex)
        {
            createLineStatus = $"Error: {ex.Message}";
        }
    }
}
